<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Tommy</h2>
      <h4>tommydog@gmail.com</h4>
    </div>
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
    </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
    <a routerLinkActive="list-item-active" mat-list-item routerLink="/">Dashbord</a>
    <a routerLinkActive="list-item-active" mat-list-item routerLink="/posts">Posts</a>
    <a routerLinkActive="list-item-active" mat-list-item routerLink="/articles">Articles</a>
  <mat-divider></mat-divider>

 <h2 matSubheader>Tools</h2>

 <a routerLinkActive="list-item-active" mat-list-item routerLink="/contacts">
  <mat-icon>import_contacts</mat-icon>
  Contacts
</a>

<a routerLinkActive="list-item-active" mat-list-item routerLink="/contacts">
  <mat-icon>perm_phone_msg</mat-icon>
  Leads
</a>
</mat-nav-list>
